.pokemon-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
.heading-box.fill h2{
  color: var(--purple);
}
.left.fill,.right.fill{
  background-color: var(--purple);
}
.pokemon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  width: 100%;
  background-color:var(--main-white);
  font-family: var(--text-font-family);
}
.list-pok {
  width: 360px;
  margin: 30px;
  background: white;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  
  transition: all 0.2s ease-in-out;
}
.list-pok:hover {
  box-shadow: none;
}
.image {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 5px;
}
.name-btn {
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  width: 150px;
  background: var(--bg-gradient);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.next-btn,
.prev-btn {
  margin: 30px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background: var(--bg-gradient);
  color: white;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}
.prev {
  margin-right: 10px;
}
.next {
  margin-left: 10px;
}
@media screen and (max-width:630px){
  .heading-box.fill h2{
    font-size: 2rem;
  }
}
@media screen and (max-width:500px)
{
  .pokemon-center{
width: 100%;
  }
}

@media screen and (max-width:400px)
{
  .prev-btn,.next-btn{
    margin-left: 10px;
    margin-right: 10px;
  }
 .list-pok{
   margin: 30px 0px;
   width: 90%;
 }
}
