.search-form{
    background: var(--bg-gradient);
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.search-form p{
    font-family: var(--heading-font-family);
    font-size: 3rem;
}
form{
    display: flex;
    align-items: center;
}
.input{
    width: 400px;
    height: 40px;
    padding: 20px;
    margin: 20px;
}
.search-btn{
    font-size: 1.5rem;
    padding: 10px 10px 5px 10px;
}